{% extends 'base.html' %}

{% block content %}
    <div class="clearfix">
        <a class="btn btn-info left" href="{% url 'cal:calendar' %}?{{ prev_month }}"> Өмнөх сар </a>
        <a class="btn btn-info right" href="{% url 'cal:calendar' %}?{{ next_month }}"> Дараагийн сар </a>
    </div>
    {{ calendar }}
{% endblock %}
