.current{
    background: #FF1744;
    box-shadow: 0 2px 8px RGBA(255, 50, 120, .9);
    color: #fff;
}
.header{
    width: 100%;
    background-color: #428bca;
    color: #fff;
    text-align: center;
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding-top: 10px;
    height: 100px;
}
.calendar {
  width: 70%;
  margin: auto;
  font-size: 13px;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 70px;
  text-align: center;
}

.month {
  font-size: 25px;
}

.date {
    font-size: 24px;
    padding: 10 15;
    border-radius: 50px;
}
a {
  color: #17a2b8;
}
.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}
