{% load staticfiles %}

<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

    <title>Зар</title>
  </head>
  <body>
    <div class="container">
        <div class="main">
            {% block content %}

            {% endblock %}
        </div>
    </div>
  </body>
</html>
